*{
    margin-left: 0px;
    margin-top: 0px;
}
.sidebar{
    height: 580px;
    width: 10%;
    left: 0px;
    position: fixed;
    background-color: rgb(211, 211, 211);
}
.sidebar ul li{
    list-style: none;
    margin-bottom: 30px;
}
.sidebar ul{
    margin-left: -17px;
}
#navbar{
    background-color: rgb(136, 136, 136);
    height: 80px;
    top: 0;
    position: fixed;
    width: 100%;
}
#navbar h1, #navbar h5{
    margin-left: 12%;
}
#footer{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    z-index: 1;
    padding-left: 11%;
}
#logo{
    width: 10%;
    float: left;
    height: 79px;
    position: fixed;
    left: 0;
    top: 0;
}
.main{
    margin-left: 11%;
    margin-top: 80px;
}